<div class="jumbotron">
  <h1>Le Paradis</h1>
  <div class="simple_form_for">

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, label: 'name' %>
  <%= f.button :submit %>
<% end %>
</div>
  </p>
</div>

